@charset "UTF-8";

/* index.html */
.center_P
{
    text-align: center;
}

/* header */
.header {
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* mainImage */

.mainImage {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

.mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageTile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.imageTile img {

    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 15px auto;
}

/* newsList */
.newsList {
    width: 600px;
    margin: 0 auto;
}

.newsData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    border-bottom: #10222b solid 1px;
}

/* menu.html */
.menuTiles1,
.menuTiles2 {
    width: 100%;
    margin-bottom: 3em;
}

.menu {
    width: 30%;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 1rem;
}

.menuImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menuImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    margin: auto;

}

.arrowsBox1,
.arrowsBox2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0;
    position: relative;

    margin-bottom: 75px;
}

.prev-arrow,
.next-arrow {
    display: block;
    width: 50px;
    height: 50px;
    background: #95AB63;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.prev-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
}

.prev-arrow::before,
.next-arrow::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid #FFF;
    border-top: 2px solid #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
}

/* menu.html end */

/* responsive */
@media (max-width: 768px) {
    .imageTile img
    {
        width: 90%;
        height: 350px;
        object-fit: cover;
    }

}